:root {
    --global-margin: 10px;
}

body {
    margin: var(--global-margin);
    background-color: #000;
    color: #fff;
}

a {
    color: greenyellow;
}

a:visited {
    color: green;
}

.userdata {
    position: fixed;
    top: 0;
    right: 0;
    padding: var(--global-margin);
    background-color: #000;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
}

.form {
    width: 500px;
    max-width: 100%;

    margin: auto;
}

.form:not(:first-child) {
    display: none;
}

.form-swap {
    cursor: pointer;
}

.form-swap:hover {
    text-decoration: underline;
}

.loginform,
.registerform {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


:is(.loginform, .registerform) > * {
    width: 100%;
}

.file {
    display: block;
    width: fit-content;
    min-width: 200px;
}

.file:hover::after {
    content: '<-';
}

.module {
    margin: 10px 0 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}

.module-toggle {
    font-size: 30px;
    cursor: pointer;
    width: fit-content;
}

.module-toggle:hover {
    text-decoration: underline;
}